{% extends "base.html" %}
{% block title %}Page Not Found | fourfridays{% endblock %}

{% block content %}
    <div class="block-hero_image">
        <figure class="overlay">
            <img class="img-fluid" src="https://d87hp1vfl4gzm.cloudfront.net/images/page-not-found.original.jpg" alt="On top of Eiffel Tower next to some binoculars."/>          
                <figcaption class="p-2">
                    <h2>404 - Oops! We can&#39;t find that page</h2>
                </figcaption>          
                <div class="photo-credit">
                    <small><b>Photo:</b> Overlooking Paris from the second floor of the Eiffel Tower.</small>
                </div>     
        </figure>
    </div>

    <div class="block-single_column">
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-10 col-md-offset-1">
                        <div class="streamfield">
                            <!-- PARAGRAPH -->
                            <div class="rich-text"><h2>We are sorry, we know what it feels like</h2>
                                <p>Please be ensured, the error has been reported and a fix it has been sent to our technical know-it-all department.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}
