{% load fourfridays_tags static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title == 'Home' %}fourfridays{% elif self.seo_title %}{{ self.seo_title }} | fourfridays{% else %}{{ self.title }} | fourfridays{% endif %}{% endblock %}</title>
        <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-P3MZNQV');</script>
        <!-- End Google Tag Manager -->

        {# Global stylesheets #}
        <link href='//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:700|Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/fourfridays.min.css' %}">

        <script src="https://kit.fontawesome.com/7266fef937.js"></script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3MZNQV"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <header>
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            {% endblock %}
        </header>

        <main class="my-4" role="main">
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="row">
                <div class="col-12 col-md-6">
                    <ul class="footerLeft">
                        <li><a href="/style-guide/">Style Guide</a></li>
                        <li><a href="https://stack.fourfridays.com">Stack</a></li>
                        <li><a href="/privacy/">Privacy</a></li>
                        <li><a href="/terms/">Terms</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <ul class="footerRight pr-4">
                        <li class="copyright">&copy; Copyright {% now "Y" %} fourfridays</li>
                    </ul>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/fourfridays.min.js' %}" async></script>

        {% block extra_js %}{% endblock %}
    </body>
</html>