<article class="{% if self.background_color != 'normal' %}full-width {{ self.background_color }}{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
               {% include "includes/streamfield.html" with content=self.left_column only %}
            </div>
            <div class="col-12 col-md-6">
               {% include "includes/streamfield.html" with content=self.right_column only %}
            </div>
        </div>
    </div>
</article>