{% extends 'base.html' %}

{% block body_class %}homepage{% endblock %}

{% block content %}
<div class="block-hero_image">
    <figure class="overlay">
        <img class="img-fluid" src="https://d87hp1vfl4gzm.cloudfront.net/images/hotel-pilatus-kulm_switzerl.19e18c2c.fill-2560x1084-c100.jpg" alt="Hotel Pilatus-Kulm on top of Mount Pilatus"/>
        <figcaption class="p-3">
            <h2>We build fast, secure, mobile friendly, accessible websites free* for nonprofits</h2>
            <p class="small fine-print">* hosting for $12.99/month required on our platform</p>
        </figcaption>
        <div class="photo-credit">
            <small><b>Photo:</b> Hotel Pilatus-Kulm on Mount Pilatus, Switzerland.</small>
        </div>
    </figure>
</div>

<div class="block-four_columns">
    <article class="full-width white-smoke">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <div class="icon normal"><i class="material-icons md-48">storage</i></div>
                    <h5>SSD</h5>
                    <div class="rich-text">
                        <p>Pages hosted on fast solid state cloud drives. Good for Google SEO ranking and conversions</p>
                    </div>
                </div>

                <div class="col-12 col-sm-3">
                    <div class="icon normal"><i class="material-icons md-48">https</i></div>
                    <h5>HTTPS</h5>
                    <div class="rich-text">
                        <p>All traffic is served encrypted using the secure HTTPS protocol. Good for Google SEO ranking</p>
                    </div>
                </div>
                
                <div class="col-12 col-sm-3">
                    <div class="icon normal"><i class="material-icons md-48">accessibility</i></div>
                    <h5>Accessibility</h5>
                    <div class="rich-text">
                        <p>Because it&#x27;s the right thing to do. Pages pre-tested on delivery using <a href="http://wave.webaim.org/">Wave Web Accessibility tool</a></p>
                    </div>
                </div>
                <div class="col-12 col-sm-3">
                    <div class="icon normal"><i class="material-icons md-48">backup</i></div>
                    <h5>Backup</h5>
                    <div class="rich-text">
                        <p>Peace of mind with crash-consistent weekly backups. We take snapshot backups of your database, and all your media.</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<div class="block-two_columns">
    <article>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>CMS</h2>
                    <div class="rich-text">
                        <p>Content is edited on the powerful Django content management system <b>Wagtail</b>. Web Site is built using flexible content blocks and can be arranged in any way you like.</p>
                        <p>Learn more about <a href="https://wagtail.io/">Wagtail</a>.<br/></p>
                    </div>
                </div>
                
                <div class="col-12 col-md-6">
                    <figure>
                        <img class="img-fluid img-thumbnail mx-auto d-block" src="https://d87hp1vfl4gzm.cloudfront.net/images/wagtail_badge_retina_teal.width-900.png" width="421" height="61" alt="Content Managed by Wagtail" />
                    </figure>
                </div>
            </div>
        </div>
    </article>
</div>

<div class="block-two_columns">
    <article class="full-width concrete">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="icon text-center"><i class="material-icons md-120">phone_iphone</i></div>
                </div>
                <div class="col-12 col-md-6">
                    <h2>Modern Browsers</h2>
                    <div class="rich-text">
                        <p>Designed for modern browsers and devices. Websites look great on the latest and greatest, and not so great on old clunky browsers.</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<div class="block-two_columns">
    <article>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>Bootstrap + Icons</h2>
                    <div class="rich-text">
                        <p>Websites are designed on the Bootstrap framework. Support for <a href="http://fontawesome.io/">Font-Awesome</a> and Google <a href="https://material.io/icons/">Material Design</a> icons is baked in.</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="icon text-center"><i class="fab fa-bootstrap fa-5x"><span class="sr-only">Bootstrap icon</span></i></div>
                </div>
            </div>
        </div>
    </article>
</div>

<div class="block-two_columns">
    <article class="full-width concrete">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="icon text-center"><i class="material-icons md-120">data_usage</i></div>
                </div>
                <div class="col-12 col-md-6">
                <h2>Storage</h2>
                <div class="rich-text">
                    <p>20GB of <a href="https://aws.amazon.com/s3/">Amazon S3</a> highly-scalable object storage included for all your media files. Running out of space? Let us know, and we will expand your storage container at an additional $1 per month for every 10GB.<br/></p>
                </div>
            </div>
        </div>
    </article>
</div>

<div class="block-two_columns">
    <article>
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-md-6">
                    <h2>Simple Pricing</h2>
                    <div class="rich-text"><p>We love to keep things simple, even our pricing.</p></div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Basic</th>
                                <th scope="col">Nonprofits</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="col">$15.99 <br><small>per month billed annually</small></td>
                                <td scope="col">$12.99<br><small>per month billed monthly or annually</small></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-12 col-md-6">
                    <div class="icon text-center"><i class="fas fas fa-usd-square fa-5x" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </article>
</div>

<div class="block-two_columns">
    <article class="full-width aqua-island">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="icon text-center"><i class="material-icons md-120">business</i></div>
                </div>
                
                <div class="col-12 col-md-6">
                    <h2>Nonprofits</h2>
                    <div class="raw-html normal">
                        We <i class="material-icons">favorite</i> nonprofits and to show our love we don't charge for our design or coding time. We build your site for free on our platform. There is a required $12.99 per month hosting and code maintenance fee. The fees help keep the servers running.
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<div class="block-two_columns">
    <article>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>Talk to a Sales Representative</h2>
                    <div class="rich-text"><p>Want to move a website to our platform, need a complete re-design, require some minor edits, maybe a consult? <a href="/sales/">Let us know</a>.</p></div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="raw-html text-center">
                        <a class="sales btn btn-primary btn-lg" href="/sales/">I am interested</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}