{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-10">
            <h1 class="mt-4">Blog Search</h1>

            <form class="my-1" name="blog-search-results" action="{% url 'search' %}" method="get">
                <input class="form-control" type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
                <button class="btn btn-sm btn-primary mt-3" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>

            {% if search_results %}
                <ul class="my-4">
                    {% for result in search_results %}
                        <li>
                            <p><a href="{% pageurl result %}">{{ result }}</a></p>
                            {% if result.search_description %}
                                {{ result.search_description }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

                {% if search_results.has_previous %}
                    <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
                {% endif %}

                {% if search_results.has_next %}
                    <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
                {% endif %}
                {% elif search_query %}
                    No results found
            {% endif %}
        </div>
    </div>
{% endblock %}